
.login-popup-container>div {
    display: flex;
    gap: 1rem;
    height: 3rem;
    width: 100%;
}
.login-popup-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.infoInput {
    
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 15px;
    flex: 1;
    gap: 20px;
}

.infobutton {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato !important;
    font-size: 15px;
    cursor: pointer;
}

.authForm {
    padding: 20px 500px 0 500px;
    background-color: var(--cardColor);
    border-radius: 1rem;
    /* padding: 1rem; */
}

.authForm>div {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.login-popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}
.login-popup-container{
    place-self: center;
    width: max(23vw, 330px);
    /* color: #808080; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation:fadeIn 0.5s ;
}

.infobutton {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
}
.login-popup p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}
